

:root {
  /*Primary Colors: */
  --red: #ff602a;
  --blue: #2a48ff;
  --pink: #d518d5;
  --black: #000000;
  --yellow: #ffdb00;

}

.App {

  font-family:'Roboto', sans-serif;
  text-align: center;
}

.App-logo {
  font-family:'Roboto', sans-serif;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    font-family:'Roboto', sans-serif;
    animation: App-logo-spin infinite 20s linear;
  }
}

.signin {

  font-family:'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  min-width: 200px;
  padding-left: 25%;
  padding-right: 25%;
  background-color: white;
}

.App-header {
  font-family:'Roboto', sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#login-button {
  display: flex;
  justify-content: center;
  margin:auto;
  font-family:'Roboto', sans-serif;
  border-radius: 0px 10px 0px 10px;
  background-color: teal;
  padding-left: 40%;
  padding-right: 40%;

}
#login-button:hover {

  display: flex;
  justify-content: center;
  margin:auto;

  border-radius: 0px 20px 0px 20px;
  background-color: var(--red);
  box-shadow: 0px 10px var(--pink);
  transition-timing-function: ease-in;

}

.form-control {
  font-family: 'Roboto' sans-serif;
  border-radius: 0px 20px 0px 20px;

}
.form-control:hover
{
  border-radius: 0px 23px 0px 23px;

}
.form-control:active
{
  font-family:'Roboto', sans-serif;
  border-radius: 0px 23px 0px 23px;
  border-color: var(--pink)
}

#video {
  background-color: #d518d5;
  border-radius: 0px 30px 0px 30px;
}